@{
    ViewBag.Title = "Contact";
}


@*<script type="text/javascript">
    let URLaction = "@Url.Action("MyPartal", "Test")"
</script>*@

<button id="my-btn" class="btn btn-primary"> Click me</button>
<div id="container">
    <input id ="flag" type="text" name="name" value="" />
    <hr />
    <div id="my-div" class="text-white" style="width:300px;height:400px;border:2px solid black">
   
    </div>
</div>

<script src="~/Scripts/my-js/AsyncronTest.js"></script>
