@{
    ViewBag.Title = "Contact";
}


<script type="text/javascript">
    let URLaction = "@Url.Action("MyPartal", "Test")"
</script>

<button id="my-btn" class="btn btn-primary"> Click me</button>
<div id="container">
    <div id="my-div" class="text-white">
        My contents
    </div>
</div>

<script src="~/Scripts/my-js/AsyncronTest.js"></script>
