

@{
    ViewBag.Title = "Contact";
}

<button id="my-btn" class="btn btn-primary"> Click me</button>
<input id ="my-txt" type="text" name="name"  />
<div id="container">


</div>

<script src="~/Scripts/Contacr.js"></script>