@{
    ViewBag.Title = "Search";
}
<script src="~/Scripts/Search.js"></script>
<link href="~/Content/Styles/Search.css" rel="stylesheet" />

<script>
    let _messageURL = "@Url.Action("Messages", "Home")";
    let Rurl = '@Url.Action("SearchPartial", "Home")';

    /*// Concatenate the URL correctly*/
    let RurlApi = '@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "User" })';

</script>

<div class="container" style="margin-top: 20px; ">

    <div class="d-flex align-items-center" style="margin-left: 30px">
        <div class="flex-grow-1 mr-2" style="max-width: 300px;">
            <input id="personInfo" type="text" class="form-control" placeholder="Person Name">
        </div>
        <button id="search" type="button" class="btn btn-primary">Search</button>
    </div>

    <div class="people-container">

    </div>

</div>

@*<li class="active bounceInDown">
    <div class="friend-prof" data-id="1" isSelected="1">
        <div class="friend-name">
            <a href="/" class="text-white profile-link">
                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="pic" class="img-circle">
                FullName
            </a>
        </div>
        <div class="last-message text-muted">
            <span class="text-white">--:</span>
            ----
        </div>

        <small class="time text-muted">1</small>
        <small class="chat-alert label label-danger">*</small>
    </div>
</li>*@

